.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.instructor-photo {
    flex: 0 0 auto;
    width: 33.333%;
    vertical-align: middle;
    text-align: center;
}

.instructor-photo > img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.instructor-info {
    flex: 0 0 auto;
    width: 66.667%;
    padding-left: 20px;
}

.instructor-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    text-align: left;
    align-items: center;
}

.spacer {
    margin-top: 20px;
}