<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="harmonic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Harmonic Beginnings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="harmonic-link">
                <a href="{% url 'products' %}?category=music_theory,basics" class="dropdown-item">Music Theory Basics</a>
                <a href="{% url 'products' %}?category=violin,fundamentals" class="dropdown-item">Violin Fundamentals</a>
                <a href="{% url 'products' %}?category=guitar,basics" class="dropdown-item">Guitar Basics</a>
                <a href="{% url 'products' %}?category=piano,introduction" class="dropdown-item">Piano Introduction</a>
		        <a href="{% url 'products' %}?category=saxophone,beginnings" class="dropdown-item">Saxophone Beginnings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="melodic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Melodic Journeys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="melodic-link">
                <a href="{% url 'products' %}?category=music_theory,intermediate" class="dropdown-item">Intermediate Music Theory</a>
                <a href="{% url 'products' %}?category=violin,techniques" class="dropdown-item">Violin Techniques</a>
                <a href="{% url 'products' %}?category=guitar,intermediate,skills" class="dropdown-item">Guitar Intermediate Skills</a>
		        <a href="{% url 'products' %}?category=piano,skills,development" class="dropdown-item">Piano Skills Development</a>
		        <a href="{% url 'products' %}?category=saxophone,techniques" class="dropdown-item">Saxophone Techniques</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="symphonic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Symphonic Mastery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="symphonic-link">
                <a href="{% url 'products' %}?category=music_theory,advanced" class="dropdown-item">Advanced Music Theory</a>
                <a href="{% url 'products' %}?category=violin,proficiency" class="dropdown-item">Violin Proficiency</a>
                <a href="{% url 'products' %}?category=guitar,advanced,techniques" class="dropdown-item">Guitar Advanced Techniques</a>
                <a href="{% url 'products' %}?category=saxophone,mastery" class="dropdown-item">Saxophone Mastery</a>
            </div>
        </li>
    </ul>
</div>